@model WebAppCorem.Models.calculator
@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="Index">
<div class="text-center">
    <h1 class="display-4">Calculator</h1>
    <p><label>First value</label>
    <input type="number" asp-for="value1" /></p>

    <p><label>second value</label>
    <input type="number" asp-for="value2" /></p>

     <input type="submit" value ="add"asp-for="calculate" />
     <input type="submit" value="sub" asp-for="calculate" />
     <input type="submit" value="mul" asp-for="calculate" />
     <input type="submit" value="div" asp-for="calculate" />
     

    <p><label>Result : </label>
     <input type="submit" asp-for="@ViewData["result"]" /></>
</div>
</form>
